/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #11111bff;
    background-alt: #1e1e2eff;
    foreground:     #b4befeff;
    selected:       #7AA2F7FF;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
